@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: aqua; */
}

#wrapper {
  position: absolute;
  top: 50%; /* Move the box down by 50% of the screen */
  left: 50%; /* Move the box to the right by 50% of the screen */
  transform: translate(-50%, -50%); /* Center the box precisely */
}
